.product{
    width: 30%;
    height: 36vh;
    margin: 20px 10px;
    border: 3px solid #F3F2F2;
    border-radius: 1.5% 1.5% 0 0;
    overflow: hidden;
}

.product-browser {
    height: 20px;
    background-color: #F3F2F2;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
}

.browserCircle {
    width: 7px;
    height: 7px;
    background-color: white;
    margin: 3px;
    border-radius: 50%;
}

.projectImage{
    width:100%;
    transition: all 7s ease;
}

.product:hover .projectImage{
    transform: translateY(-100%);
}


/*notes so far the props can be passed along*/