.ProductList {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.productListText {
    width: 65%;
}

.productListTitle{
    font-size: 50px;
    font-weight: 500;
}

.productListDesc {
    margin: 20px 0px;

}

.productList-List {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}